name: Release

on:
  push:
    tags:
      - version-[0-9]+.[0-9]+.[0-9]+-custom
      - version-[0-9]+.[0-9]+.[0-9]+-custom-r[0-9]+

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Configure
        run: ./configure

      - name: Make
        run: make amalgamation-tarball

      - name: Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: sqlite-autoconf-*.tar.xz
